{% load htmlattributes static %}
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if !(IE 7) | !(IE 8) ]><!-->
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
<html lang="en">
    <head>
        <script>
            // hack for recurrence field
            if (!pgettext) {
                function pgettext(ignore, t) {
                    return gettext(t);
                }
            }
        </script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ ORGANIZATION_SETTINGS.description }}">
        <meta property="og:image" content="{{ ORGANIZATION_SETTINGS.og_url }}" />
        <meta property="og:url" content="{{ ORGANIZATION_SETTINGS.organization_url }}" />
        <meta property="og:title" content="{{ ORGANIZATION_SETTINGS.og_title }}"/>
        <meta property="og:description" content="{{ ORGANIZATION_SETTINGS.description }}"/>

        <meta name="twitter:card" content="{{ ORGANIZATION_SETTINGS.twitter_card }}">
        <meta name="twitter:site" content="{{ ORGANIZATION_SETTINGS.twitter_site }}">
        <meta name="twitter:creator" content="{{ ORGANIZATION_SETTINGS.twitter_creator }}">
        <meta name="twitter:title" content="{{ ORGANIZATION_SETTINGS.twitter_title }}">
        <meta name="twitter:description" content="{{ ORGANIZATION_SETTINGS.twitter_description }}">
        <meta name="twitter:image" content="{{ ORGANIZATION_SETTINGS.twitter_image }}">

        <title>{{ ORGANIZATION_SETTINGS.name }} Events{% block title %}{% endblock %}</title>

        <link rel="profile" href="//gmpg.org/xfn/11">

        <meta name="description" content="{{ ORGANIZATION_SETTINGS.description }}"/>
        <meta name="robots" content="noodp"/>

        <link rel="canonical" href="{{ ORGANIZATION_SETTINGS.organization_url }}" />

        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ ORGANIZATION_SETTINGS.name }}" />
        <meta property="og:description" content="{{ ORGANIZATION_SETTINGS.og_description }}" />
        <meta property="og:url" content="{{ ORGANIZATION_SETTINGS.organization_url }}" />
        <meta property="og:site_name" content="{{ ORGANIZATION_SETTINGS.og_sitename }}" />
        <meta property="og:image" content="{{ ORGANIZATION_SETTINGS.og_image }}" />
        <meta property="og:image:width" content="{{ ORGANIZATION_SETTINGS.og_image_width }}" />
        <meta property="og:image:height" content="{{ ORGANIZATION_SETTINGS.og_image_height }}" />
        <meta name="twitter:card" content="{{ ORGANIZATION_SETTINGS.twitter_card }}" />
        <meta name="twitter:description" content="{{ ORGANIZATION_SETTINGS.twitter_description }}" />
        <meta name="twitter:title" content="{{ ORGANIZATION_SETTINGS.twitter_title }}" />
        <meta name="twitter:image" content="{{ ORGANIZATION_SETTINGS.twitter_image }}" />

        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css"
              integrity="sha384-zF4BRsG/fLiTGfR9QL82DrilZxrwgY/+du4p/c7J72zZj+FLYq4zY00RylP9ZjiT"
              crossorigin="anonymous"/>
        <link rel="stylesheet" href="{% static 'css/theme.css' %}"/>

        <!-- FONT AWESOME -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
              crossorigin="anonymous">

        {% block extra_styles %}
        {% endblock %}
    </head>

    <body role="document">
        <!-- NAVBAR -->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">
                        <img src="{% static 'img/pe-logo.png' %}"
                             alt="{{ ORGANIZATION_SETTINGS.name }}" title="{{ ORGANIZATION_SETTINGS.name }}" />
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                {% if request.user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a id="events" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-calendar"></i> Events <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="">My Events</a></li>
                            </ul>
                        </li>
{#                        <li>#}
{#                            <a id="board" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">#}
{#                                <i class="fa fa-gavel"></i> Board <span class="caret"></span>#}
{#                            </a>#}
{#                            <ul class="dropdown-menu">#}
{#                                <li><a href="{% url 'board:members' %}">Members</a></li>#}
{#                                <li><a href="{% url 'board:committees' %}">Committees</a></li>#}
{#                                <li><a href="{% url 'board:pcos' %}">PCOs</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="{% url 'event:list' %}">#}
{#                                <i class="fa fa-calendar"></i> Events#}
{#                            </a>#}
{#                        </li>#}
{#                        <li>#}
{#                           <a id="political-action" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">#}
{#                                 <i class="fa fa-bullhorn"></i> Political Action <span class="caret"></span>#}
{#                            </a>#}
{#                            <ul class="dropdown-menu">#}
{#                                <li><a href="{% url 'political_action:committees' %}">Committees</a></li>#}
{#                                <li><a href="{% url 'political_action:issues' %}">Issues</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="{% url 'election:list' %}">#}
{#                                <i class="fa fa-balance-scale"></i> Elections#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="dropdown">#}
{#                            <a id="reports" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">#}
{#                                <span class="glyphicon glyphicon-th-list"></span> Reports <span class="caret"></span>#}
{#                            </a>#}
{#                            <ul class="dropdown-menu">#}
{#                                <li><a href="{% url 'reports:contacts' %}">Contacts</a></li>#}
{#                                <li><a href="{% url 'reports:auditor' %}">Auditor Records</a></li>#}
{#                                <li><a href="{% url 'reports:members' %}">Member Dues</a></li>#}
{#                                <li><a href="{% url 'reports:member_renewals' %}">Member Renewals</a></li>#}
{#                                <li><a href="{% url 'reports:members_signin' %}">Member Sign-In Sheets</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="{% url 'admin:index' %}" target="_blank">#}
{#                                <span class="glyphicon glyphicon-cog"></span> Admin#}
{#                            </a>#}
{#                        </li>#}
                        <li class="dropdown">
                            <a id="account" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-lock"></i> {{ request.user.first_name }} {{ request.user.last_name }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'account:logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div id="content" class="container" role="main">
            <!-- MESSAGES -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                        <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times" title="Close"></i></button>
                        {{ message.message }}
                    </div>
                {% endfor %}
            {% endif %}

            <!-- CONTENT -->
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <!-- JQUERY -->
    <script src="//code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <!-- BOOTSTRAP -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- DATATABLES -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css"/>
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
            function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                crossDomain: false,
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
                        xhr.setRequestHeader('Authentication', '{{ access_token }}');
                    }
                }
            })
        });
    </script>

    {% block scripts_footer %}
    {% endblock %}
</html>
